html {
  font-size: 62.5%;
}

/* Reset default margin and center content */
body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Card container */
.card {
  background-color: white;
  padding: 1.5rem;
  padding-bottom: 2rem;
  border-radius: 1.5rem;
  width: 26rem;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

/* QR code image */
.card img {
  width: 100%;
  border-radius: 1rem;
}

/* Headline */
.card h1 {
  font-size: 2rem;
  color: hsl(218, 44%, 22%);
  margin: 1.5rem 0;
}

/* Description text */
.card p {
  font-size: 1.5rem;
  color: hsl(220, 15%, 55%);
}
